<footer class="root-footer">
  <div class="foot-social">
    <a href="https://www.instagram.com/iammannat03/">
      <i class="fa-brands fa-instagram scale-button-sp"></i>
    </a>
    <a href="https://twitter.com/MannatJaiswal03">
      <i class="fa-brands fa-twitter scale-button-sp"></i>
    </a>
    <a href="https://www.linkedin.com/in/mannatjaiswal0302">
      <i class="fa-brands fa-linkedin-in scale-button-sp"></i>
    </a>
  </div>
  <div class="foot-lime">2024 Lime Pvt. Ltd.</div>
  <div class="foot-terms">
    <a href="/privacy">Privacy</a>
    <a href="/terms"> Terms</a>
  </div>
</footer>
