<% layout('/layouts/boilerplate') %>
<body>
  <br />
  <h3>All Listings</h3>
  <div class="row justify-content-sm-center justify-content-xs-center">
    <% for(let listing of allListings){ %>
    <a
      class="card-a col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      href="/listings/<%= listing._id %>"
    >
      <div>
        <div id="index-card" class="card mb-4">
          <img
            src="<%= listing.image.url %>"
            class="card-img-top"
            alt="listing-image"
          />
          <div class="card-body">
            <p class="card-text">
              <b style="font-weight: 700; font-size: 1.1rem"
                ><%=listing.title %></b
              >
              <br />
              &#8377;<%=listing.price.toLocaleString('en-IN')%> / night
            </p>
          </div>
        </div>
      </div>
    </a>

    <% } %>
  </div>
  <br /><br /><br /><br /><br />
  <!-- <form method="GET" action="/listings/new">
    <button>Create new</button>
  </form> -->
</body>
