<% layout('/layouts/boilerplate') %>
<body class="root-bg">
  <div class="root-container">
    <h1 class="root-h1">Welcome to lime</h1>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelector(".root-footer").style.background = "transparent";
      document.querySelector(".root-footer").style.boxShadow = "none";
    });
  </script>
  <% %>
</body>
