<footer>
  <div class="foot-social">
    <a href="/instagram">
      <i class="fa-brands fa-instagram scale-button-sp"></i>
    </a>
    <a href="/twitter">
      <i class="fa-brands fa-twitter scale-button-sp"></i>
    </a>
    <a href="/facebook">
      <i class="fa-brands fa-facebook scale-button-sp"></i>
    </a>
  </div>
  <div class="foot-lime">2024 Lime Pvt. Ltd.</div>
  <div class="foot-terms">
    <a href="/privacy">Privacy</a>
    <a href="/terms"> Terms</a>
  </div>
</footer>
